@font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: Montserrat-Black;
	src: url('../fonts/montserrat/Montserrat-Black.ttf');
}

@font-face {
	font-family: Montserrat-SemiBold;
	src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: Montserrat-Medium;
	src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

nav {
	background-color: darkslategray
}


/*---------------------------------------------*/

a {
	font-family: Poppins-Regular, serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	font-family: Poppins-Regular, "Helvetica Neue", serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0;
}

ul,
li {
	margin: 0;
	list-style-type: none;
}

article {
	color: red;
}


/*---------------------------------------------*/

input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #adadad;
}

input:-moz-placeholder {
	color: #adadad;
}

input::-moz-placeholder {
	color: #adadad;
}

input:-ms-input-placeholder {
	color: #adadad;
}

textarea::-webkit-input-placeholder {
	color: #adadad;
}

textarea:-moz-placeholder {
	color: #adadad;
}

textarea::-moz-placeholder {
	color: #adadad;
}

textarea:-ms-input-placeholder {
	color: #adadad;
}


/*---------------------------------------------*/

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/

.container {
	max-width: 100%;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.bg0 {
	background-color: #fff;
}

.bg1 {
	background-color: #f7f7f7;
}

/* Search Area*/


.search-bar form {
	display: grid;
	grid-gap: 0;
}

.search-bar form>* {
	background-color: lightgray;
	height: 30px;
    margin: 3px 5px 10px 0;
}

@media screen and (max-width: 575px) {
	.search-bar {
		grid-template-columns: 70% 1fr;
	}
}

@media screen and (min-width: 576px) and (max-width: 991px) {
	.search-bar {
		grid-template-columns: 75% 1fr;
	}
}

@media screen and (min-width: 992px) {
	.search-bar form {
		grid-template-columns: 80% 1fr;
	}
}

.search-bar>* {
	-webkit-appearance: none;
	appearance: none;
}

.search-bar input {
	padding-left: 1rem;
	padding-right: 1rem;
	letter-spacing: 1px;
	border-radius: 0 !important;
	border: 1px solid black;
    position: inherit;
    width: 60%;
    max-height: 100px;
}



#title-article-search{
    margin-top: 20px;
}

.search-bar button[type="submit"] {
	border: 1px solid black;
	color: white;
    background-color: darkseagreen ;
    width: 100px;
}



/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #e6e6e6;
}

.wrap-contact100 {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 62px 55px 90px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact100-form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact100-form-title {
	display: block;
	width: 100%;
	font-family: Montserrat-Black, serif;
	font-size: 39px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 59px;
}

textarea {
	max-height: 500px;
}


/*------------------------------------------------------------------
[  ]*/

.wrap-input100 {
	width: 100%;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 13px;
	padding: 10px 30px 9px 22px;
	margin-bottom: 20px;
}

.rs1-wrap-input100 {
	width: calc((100% - 30px) / 2);
}

.label-input100 {
	font-family: Montserrat-SemiBold, serif;
	font-size: 10px;
	color: #393939;
	line-height: 1.5;
	text-transform: uppercase;
}

.input100 {
	display: block;
	width: 100%;
	background: transparent;
	font-family: Montserrat-SemiBold, serif;
	font-size: 18px;
	color: #555555;
	line-height: 1.2;
	padding-right: 15px;
}


/* check buttons*/

.check-button:not(:checked),
.check-button:checked {
	position: absolute;
	left: -9999%;
}

.check-button+.check-box-label {
	display: inline-block;
	padding: 0 5px 5px 5px;
	cursor: pointer;
	border: 1px solid black ;
	color: black;
	background-color: white;
	height: 25px;
	width: auto;
    border-bottom: 3px solid black;
    border-right: 4px solid black;
}

.check-button:checked+.check-box-label {
	border: 1px solid white;
	color: white;
	background-color: skyblue;
    border-bottom: 3px solid black;
    border-right: 4px solid black;
}


/*---------------------------------------------*/


/*---------------------------------------------*/

input.input100 {
	height: 100px;
}

textarea.input100 {
	min-height: 120px;
	padding-top: 9px;
	padding-bottom: 13px;
	font-size: small;
	font-size-adjust: inherit;
}

.input100:focus+.focus-input100::before {
	width: 100%;
}

.has-val.input100+.focus-input100::before {
	width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	width: 100%;
}

.contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100px;
	height: 50px;
	background-color: #333333;
	border-radius: 25px;
	margin: 10px;
	font-family: Montserrat-Medium, serif;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact50-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 24px;
	background-color: #333333;
	border-radius: 15px;
	font-family: Montserrat-Medium, serif;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact100-form-btn i {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact100-form-btn:hover {
	background-color: #00ad5f;
}

.contact100-form-btn:hover i {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
	.rs1-wrap-input100 {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.wrap-contact100 {
		padding: 62px 15px 90px 15px;
	}
	.wrap-input100 {
		padding: 10px 10px 9px 10px;
	}
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	min-height: 40px;
	background-color: #f7f7f7;
	top: 35px;
	left: 0;
	padding: 0 45px 0 22px;
	pointer-events: none;
	font-family: Montserrat-SemiBold, serif;
	font-size: 18px;
	color: #fa4251;
	line-height: 1.2;
}

.btn-hide-validate {
	font-family: Material-Design-Iconic-Font, serif;
	font-size: 18px;
	color: #fa4251;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 35px;
	right: 12px;
}


/* select*/
.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;

}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
	font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-left: 0 ;
  background-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	font-family: Montserrat-SemiBold, serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.select2-selection__arrow b {
  display: none;
}

.select2-selection__arrow::before {
  content: '\f312';
	font-family: Material-Design-Iconic-Font, serif;
  font-size: 18px;
  color: #555555;
}


/*------------------------------------------------------------------
[ Dropdown option ]*/
.select2-container--open .select2-dropdown {
  z-index: 1251;
  width: calc(100% + 2px);
  border: 0 solid transparent;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  left: -24px;

  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .select2-container--open .select2-dropdown {
    left: -12px;
  }
}

.select2-dropdown--above {top: -38px;}
.select2-dropdown--below {top: 10px;}

.select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
}

@media (max-width: 576px) {
  .select2-container .select2-results__option[aria-selected] {
    padding-left: 12px;
  }
}

.select2-container .select2-results__option[aria-selected="true"] {
  background: #00ad5f;
  color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background: #00ad5f;
  color: white;
}

.select2-results__options {
	font-family: Montserrat-SemiBold, serif;
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
	font-family: Poppins-Regular, serif;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

.wrap-input100 .dropDownSelect2 .select2-container--open {
  width: 100% !important;
}

.wrap-input100 .dropDownSelect2 .select2-dropdown {
  width: calc(100% + 2px) !important;
}

.js-select2 {
    width: 100%
}

/* DatePicker */

input[type="date"]{
    border: 1px solid black;
    width:inherit;
    max-width: 200px;
}
.size-input{
    max-width: 200px;
    width: inherit;
    background-color:lightgrey;
	border: 1px solid black;
    max-height: 25px;
}

/* Popup */

.hide-me ~ label {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,.5);
  background: radial-gradient(ellipse at center, rgba(0,0,0,.2) 0%, rgba(0,0,0,.9) 150%);
}
.hide-me ~ label > .message {
  position: relative;
  margin: auto;
  width: 400px;
  background: #F7F9F3;
  padding: 2.5em;
  box-shadow: 0 5px 30px 5px #222;
}
.hide-me ~ label .close {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #eee;
  background: #C00;
  padding: 3px;
  border-radius: 2em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
}

.hide-me[type=checkbox] ~ .content {
  -webkit-filter: blur(5px);

}
.hide-me[type=checkbox]:not(:checked) ~ label {
  display: none;
}
.hide-me[type=checkbox]:not(:checked) ~ .content {
  -webkit-filter: none;
}
.hide-me[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  width: 16px;
  height: 16px;
  background-image:url("../images/question.png");
}

.input-bar input{
	background-color: lightgrey;
	border: 1px solid black;
}

.virus-total input{
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}

.js-select2 {
	min-width: 400px;
	width: 100%;
}

#searchQuery {
	width: 100%;
	min-width: 400px;
}

.plus[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  width: 16px;
  height: 16px;
  background-image:url("../images/plus.png");
}

.plus[type=checkbox] ~ .content {
  -webkit-filter: blur(5px);

}
.plus[type=checkbox]:not(:checked) ~ label {
  display: none;
}
.plus[type=checkbox]:not(:checked) ~ .content {
  -webkit-filter: none;
}
.plus[type=checkbox]:checked{
	width: 16px;
  	height: 16px;
	background-image: url("../images/remove.png");
}

.textbox {
	width: inherit;
	max-width: fit-content;
	background-color: lightgrey;
}
.hash{
	height: 500px;
}
.tags{
	height: 200px;
}

.submit-button{

}