
    
    
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
          

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 col-8">
                <span class="label-input100">MD5 / SHA1 / SHA256</span>
                <textarea class="input100" placeholder="hash"></textarea>
            </div>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 col-3"  >
                <span class="label-input100">File Upload</span>
                <input class="input100" type="text" name="phone">

            </div>

            <div class="container col-md-12 col-xs-6 col-lg-12">
              <div class="row">
                <div class="col-3">
                  <article>Tags</article>
                    <div class="wrap-input100 validate-input bg0">
                        <textarea class="input100" placeholder="tags"></textarea>
                    </div>
                </div>
                <div class="col-3 ">
                    <article>Action - VIRUSTOTAL</article>
                    <input type="checkbox" value="Download Sample"> Download Sample <br>
                    <input type="checkbox" value="Download Report"> Download Report <br>
                    <input type="checkbox" value="Download Network Traffic"> Download Network Traffic <br>
                    <input type="checkbox" value="Rescan"> Rescan <br>
                </div>
                <div class="col-3 ">
                    <article>Action - ANALYSIS</article>
                    <input type="checkbox" value="Cuckoo Sandbox"> Cuckoo Sandbox <br>
                </div>
                  <div class="col-3">
                    <button class="contact50-form-btn"  style="background-color: orange">
                        <span>
                            Upload Files
                            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-3 ">
                <input type="checkbox" value="PEEXE"> PEEXE <br>
                <input type="checkbox" value="HTML"> HTML <br>
                <input type="checkbox" value="Bike"> Malware <br>
                <input type="checkbox" value="Malware"> Benign <br>
            </div>
        </div>
        <div class="container-contact100-form-btn" >
            <button class="contact100-form-btn" style="background-color: gray">
                <span>
                    Clear
                    <i aria-hidden="true"></i>
                </span>
            </button>
            <button class="contact100-form-btn" style="background-color: cadetblue">
                <span>
                    Submit
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </form>
</div>
    

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="js/main.js"></script>

</body>
</html>
