{% extends 'z_lab_engine/base.html' %} {% block body %}{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form method="post" action="" class="contact100-form validate-form">
    {% csrf_token %}
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 col-8 form-group">
        <span class="label-input100">MD5 / SHA1 / SHA256</span>
        <textarea id="hash_list" class="input100" placeholder="hash" name="hash_list"></textarea>
    </div>

    <div class="container col-md-12 col-xs-6 col-lg-12">
        <div class="row">
            <div class="col-3">
                <article>Tags</article>
                <div class="wrap-input100 validate-input bg0 form-group">
                    <textarea id="tags-textbox" class="input100" placeholder="tags" name="upload_tags"></textarea>
                </div>
            </div>
            <div class="col-3 form-group">
                <article>Action - VIRUSTOTAL</article>
                <input type="checkbox" value="1" name="checks" onchange="printOnActionBox()"> Download Sample
                <br>
                <input type="checkbox" value="2" name="checks" onchange="printOnActionBox()"> Download Report
                <br>
                <input type="checkbox" value="3" name="checks" onchange="printOnActionBox()"> Download Network Traffic
                <br>
                <input type="checkbox" value="4" name="checks" onchange="printOnActionBox()"> Rescan
                <br>
                <textarea id="action-box" name="action_box" style="color: white"></textarea>
            </div>
            <div class="col-3 ">
                <article>Action - ANALYSIS</article>
                <input type="checkbox" value="Cuckoo Sandbox"> Cuckoo Sandbox
                <br>
            </div>
        </div>
        <div class="col-3 ">
            {% for tag in sample_tags %}
                <input type="checkbox" name="tags" value="{{ tag }}" onchange="printOnTagsTextBox()"> {{ tag }} <br>
            {% endfor %}
        </div>
    </div>
    <div class="container-contact100-form-btn">
        <button type="reset" class="contact100-form-btn" style="background-color: gray">
            <span>
                    Clear
                    <i aria-hidden="true"></i>
                </span>
        </button>
        <button type="submit" class="contact100-form-btn form-group" style="background-color: cadetblue">
            <span>
                    Submit
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
        </button>
    </div>
{% block content %}
<script type="text/javascript">
    function remove(arr, value) {
        return arr.filter(function(ele) {
            return ele !== value;
        });
    }

    function getTags() {
        var arr = ["",];
        document.getElementsByName("tags").forEach(function(element) {
            if (element.checked) {
                arr.push(element.value);
                console.log(arr);
            } else {
                remove(arr, element.value);
            }
        });
        var text = "";
        for (var index = 1; index < arr.length - 1; index++) {
            text += arr[index] + ", ";
            console.log(text);
        }
        text += arr[arr.length - 1];
        return text;
    }

    function printOnTagsTextBox() {
        var text = getTags();
        var tagBox = document.getElementById("tags-textbox");
        tagBox.value = text;
    }

    function getCheckedActionBoxes(){
        var arr = ["",];
        document.getElementsByName("checks").forEach(function(element) {
            if (element.checked) {
                arr.push(element.value);
                console.log(arr);
            } else {
                remove(arr, element.value);
            }
        });
        var text = "";
        for (var index = 1; index < arr.length - 1; index++) {
            text += arr[index] + ", ";
            console.log(text);
        }
        text += arr[arr.length - 1];
        return text;
    }

    function printOnActionBox(){
        document.getElementById("action-box").value = getCheckedActionBoxes();
    }
</script>
{% endblock %}
</form>




{% endblock %}